.heading {
  flex: 1 1 auto;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px;
  font-style: italic;
  padding: 20px;
}

.input-area {
  padding-bottom: 15px;
}

.input-box {
  padding:20px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 50%;
  height: 75%;
  border-radius: 7.5px;
  border-width: medium;
  border-left-color: red;
  border-right-color: red;
  border-style: double;
}
.video-detail-full {
  position: absolute;
  height: 600px;
  width: 1150px;
  padding: 10px;
}
.details{
  padding-top: 20px;
}

.Title {
  font-size: 25px;
  font-style: bold;
}

.media-heading {
  width:250px;
}

.list-group {
  width: 400px;
  padding: 10px;
  border: 2px solid grey;
  border-bottom: 0.5px solid grey;
}

.list-group:hover {
  background-color : #C0C0C0 ;
}
